$text-cl: #343D48;

%dm-700 {
  font-family: 'DMSans', sans-serif;
  font-weight: 700; 
}

%dm-500 {
  font-family: 'DMSans', sans-serif;
  font-weight: 500;
}

%dm-400 {
  font-family: 'DMSans', sans-serif;
  font-weight: 400;
}